{% extends 'base.html.twig' %}

{% block body %}

{% for error, messages in app.flashes %}
    {% for message in messages %}
        <div class=" container mt-2 alert alert-danger">{{ message }}</div>
    {% endfor %}
{% endfor %}

<div class="row justify-content-center my-2">
{% for result in results %}
    <div class="card col-3 m-2">
        {% if result.getImage() %}
        <img class="card-img-top" src={{  asset('uploads/' ~ result.image) }}>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ result.title }}</h5>
            <h6 class="card-text">{{ result.User.email }}</h6>
            <h6 class="card-text">{{ result.createdAt }}</h6>
            <p class="card-text">{{ result.getContent() }}</p>
            {% if app.user and app.user.email is same as result.User.email %}
            <a href="{{ path('app_post_edit', {'id' : result.id}) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('app_post_delete', {'id' : result.id}) }}" class="btn btn-danger">Supprimer</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
